.env
BackUp/
public/gallery/*
public/vendor
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

scripts/ioannina-scouts-firebase-adminsdk-g6qgn-f625d59955.json

scripts/createUserId.js
/scripts/ioannina-scouts-firebase-adminsdk-g6qgn-7292ebf7c3.json
/scripts/qrcodes/

public/api/client_secret_800109105879-mfai721naam7cba3liunduatu05l4hu9.apps.googleusercontent.com.json
