rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /cleaning/{document=**} {
      allow read: if request.auth != null &&
        // Check if the user's roles array contains 'admin' or 'cleaning'
        anyRoleIn(database,request.auth.uid, ['admin', 'cleaning', 'chief']);
      allow write: if request.auth != null &&
        // Check if the user's roles array contains 'admin' or 'cleaning'
        anyRoleIn(database,request.auth.uid, ['admin', 'cleaning']);
    }
    match /events/{event} {
      allow read: if true;
      allow write: if request.auth != null &&
        // Check if the user's roles array contains 'admin'
        anyRoleIn(database,request.auth.uid, ['admin']);
    }
    match /labels/{label} {
      allow read: if true;
      allow write: if request.auth != null &&
        // Check if the user's roles array contains 'admin'
        anyRoleIn(database,request.auth.uid, ['admin']);
    }
    match /users/{userId} {
          // Allow read if authenticated and the user is accessing their own data
          allow read: if request.auth != null && (request.auth.uid == userId || anyRoleIn(database, request.auth.uid, ['admin']));

          // Allow write only if:
          // 1. User is updating their own data but not the 'role' field, or
          // 2. User has an admin role (in the list of roles), or
          // 3. User is updating their own role and is an admin.
          allow write: if request.auth != null && (
            // Case 1: Updating their own data, excluding 'role' field
            (request.auth.uid == userId &&!(request.resource.data.keys().hasAny(['role']) && request.resource.data.role != resource.data.role))
            // Case 2: Admin role check
            || anyRoleIn(database, request.auth.uid, ['admin'])
          );
        }
    match /chiefs/{document=**} {
      allow read: if true; // Public read access
      allow write: if request.auth != null &&
        // Check if the user's roles array contains 'admin'
        anyRoleIn(database,request.auth.uid, ['admin']);
    }
    match /gallery/{document=**} {
      allow read: if true; // Public read access
      // If you need to control writes, adjust this condition as needed
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

// Helper function to check if the user has any of the specified roles
function anyRoleIn(database, uid, roles) {
  return exists(/databases/$(database)/documents/users/$(uid)) &&
    // Use 'in' to check if the user's role array contains any of the specified roles
    get(/databases/$(database)/documents/users/$(uid)).data.role.hasAny(roles);
}
